/*页面样式*/

/*===========
*   基本默认值
=============*/

html {
    font-size: 62.5%;
    color: #222;
}

/*设置选中文字之后的显示效果*/

::selection {
    background-color: #b3d4fc;
    /*background-color: red;*/
    text-shadow: none;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

/*===========
*   工具样式：常用样式的缩写
=============*/

/*父元素居中*/

.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

/*!important 增强优先级！*/

.pull-right {
    float: right !important;
}

.pull-left {
    float: left !important;
}

.text-right {
    text-align: right !important;
}

.text-left {
    text-align: left !important;
}

.text-center {
    text-align: center !important;
}

/*挤占元素空间*/

.hide {
    display: none !important;
}

.show {
    display: block !important;
}

/*不会挤占元素空间*/

.invisible {
    visibility: hidden;
}

.text-hide {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

/*float会带来父元素高度塌陷的问题，所以需要清除浮动。清除浮动:flex可以替代float*/

/*=============================
清除浮动的第一种方法：在父元素后面放一个clear:both的div；
清除浮动的第二种方法：给父元素加一个overflow：hidden的属性就OK；
清除浮动的第三种方法：让父元素的本身也浮动（不推荐）
清除浮动的第四种方法：通过父元素添加类clearfix(使用伪元素after)

.clearfix:after{
    content: ".";
    display: block;
    //避免破坏高度
    height: 0;
    clear: both;
    visibility: hidden;
};

.clearfix{
    zoom: 1;
}

BFC:只要触发了BFC，就可以防止高度塌陷，清除浮动。
除了上面讲的四种， 父元素包含以下属性都可以触发BFC
position:fixed;
position:absolute;
display: table-cell;
display:table-caption;

所以改进方案为：(防止浏览器发生magin的顶部的空白崩溃)

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}


===============================*/

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*===========
*   浏览器更新提示
=============*/

.browserupgrade {
    margin: 0;
    padding: 1rem;
    background: #ccc;
}

/*===========
*   自定义页面样式
=============*/

body {
    font-size: 1.2rem;
    line-height: 1.5;
    background-color: #f7f7f7;
}

a {
    color: #666;
    text-decoration: none;
}

a:hover,
a:active {
    color: #0ae;
    text-decoration: underline;
}

/*网站头部*/

header {
    width: 100%;
}

/*在中文版的chrome浏览器中，3rem并不等于30px，而是36px。因为中文最小字号下限为12px，英文版为10px*/

header .topnav {
    line-height: 3rem;
    padding: 0 1.5rem;
    color: #fff;
    background: #555;
    border-bottom: 1px #ecc000 solid;
}

header .topnav .tel {
    float: left;
}

header .topnav ul {
    text-align: right;
}

header .topnav ul li {
    /*
    inline-block:困扰开发者的问题----HTML页面中存在的空白字符{<li>标签之间的换行符}，
    最简单解决办法：删除换行符；
    第二种方法：父元素的font-size设置为0（有副作用）；
    第三种方法：</li><li>，本质上省略换行符;
    第四种方法：li标签不闭合（浏览器会自动闭合）；
    第五种方法：设置负的边距（有副作用，不容易统一）；
    第六种方法：CSS4中的white-space-callapsing，目前还不支持
    */
    display: inline-block;
}

/*li+li代表从第二个开始*/

header .topnav ul li + li {
    border-left: 1px solid #999;
    /**/
    margin-left: -3px;
}

/**/

header .topnav ul li a {
    /*需要把a元素设置为块级元素*/
    display: inline-block;
    padding: 0 1.5rem;
    color: #fff;
}

/*确定这一块在不同分辨率之下发生了变化媒体查询，*/

/*这里如果使用rem相对大小，则不是根据html的font-size=10px, 而是根据浏览器的默认字体大小16px*/

/*同时复制这三块*/

/*0-800*/

@media only screen and (max-width: 800px) {
    header .top ul li a {
        padding: 0 1rem;
    }
}

/*481-800*/

@media only screen and (min-width: 481px) and (max-width: 800px) {
}

/*0-481*/

@media only screen and (max-width: 480px) {
    header .top .tel,
    header .top ul li:nth-child(3),
    header .top ul li:nth-child(4) {
        display: none;
    }
}

/*=====================================
注意，样式都是一块块，一层层的写下去的，我也一定要遵循！！！，切记
======================================*/

/*设置主导航的样式*/

header .main {
    padding: 0;
}

header .main .brand {
    float: left;
    /*最后一个0很重要！*/
    padding: 1rem 1.5rem 0;
    padding: 0;
}

header .main .brand img {
    height: 60px;
    float: left;
}

header .main .brand span {
    display: block;
    margin-left: 10px;
    line-height: 66px;
    font-size: 40px;
    font-family: "papyrus";
    float: left;
}

header .main ul {
    text-align: right;
}

header .main ul li {
    /*见证奇迹，li垂直变水平的关键*/
    display: inline-block;
    border-left: 1px solid #f0ede9;
}

header .main ul li a {
    display: inline-block;
    padding: 0 3rem;
    line-height: 5.5rem;
    font-size: 1.6rem;
    font-weight: bold;
    color: #7c7a65;
    text-decoration: none;
}

header .main ul li a:hover,
header .main ul li a:active {
    color: #ffb300;
    background-color: #f8f6f1;
}

/*确定这一块在不同分辨率之下发生了变化媒体查询，*/

/*这里如果使用rem相对大小，则不是根据html的font-size=10px, 而是根据浏览器的默认字体大小16px*/

/*同时复制这三块*/

/*0-800*/

@media only screen and (max-width: 800px) {
    header .main .brand {
        float: none;
        display: block;
        padding: 0;
        margin: 1.5rem auto 0.5rem;
        text-align: center;
    }

    header .main ul {
        text-align: center;
    }

    header .main ul li {
        border: none;
    }

    header .main ul li a {
        padding: 0 1.5rem;
    }

    header .main ul li a:hover,
    header .main ul li a:active {
        color: #ffb300;
        background-color: #f8f6f1;
    }
}

/*481-800*/

@media only screen and (min-width: 481px) and (max-width: 800px) {
    header .main ul li {
        line-height: 3rem;
    }

    header .main ul li:first-child {
        display: none;
    }

    header .main ul li a {
        font-weight: normal;
        padding: 0 0.5rem;
    }
}

/*0-481*/

@media only screen and (max-width: 480px) {
}

/*网站主要内容*/

.container {
    width: 100%;
    min-height: 600px;
}

/*交易信息*/

.transaction {
    width: 100%;
    background-color: #7c7365;
}

.trans-content {
    max-width: 90%;
    margin: 0 auto;
    font-size: 1.5rem;
}

.trans-data {
    float: left;
    padding: 1rem;
    text-align: left;
}

.trans-data span {
    display: inline-block;
    line-height: 3rem;
    color: #fff;
}

.trans-data span.trans-money {
    font-size: 2.2rem;
    color: #ff9900;
    letter-spacing: 3px;
    margin: 0 1rem;
    padding: 0 1rem;
    border-radius: 3px;
    /*要求背景颜色透明，内容不需要透明，一般使用rgba的写法，区别于opacity（背景和内容同时透明）*/
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 1px 2px 1px #333 inset;
}

.trans-report {
    text-align: right;
}

.trans-report a {
    display: inline-block;
    padding: 1rem;
    line-height: 3rem;
    color: #fff;
}

/*确定这一块在不同分辨率之下发生了变化媒体查询，*/

/*这里如果使用rem相对大小，则不是根据html的font-size=10px, 而是根据浏览器的默认字体大小16px*/

/*同时复制这三块*/

/*0-800*/

@media only screen and (max-width: 800px) {
    .trana-data {
        padding: 1rem 0.5rem;
    }

    .trans-data span {
        font-size: 1.2rem;
    }

    .trans-data span .trans-money {
        font-size: 1.6rem;
        margin: 0;
        padding: 0;
        letter-spacing: inherit;
        box-shadow: none;
        background: transparent;
    }

    .trans-report a {
        font-size: 1.2rem;
    }
}

/*481-800*/

@media only screen and (min-width: 481px) and (max-width: 800px) {
}

/*0-481*/

@media only screen and (max-width: 480px) {
    .transaction {
        padding: 0.5rem 0;
    }

    .trans-data,
    .trans-report {
        float: none;
        text-align: center;
    }

    .trans-data,
    .trans-report a {
        padding: 0;
    }
}

/*滚动广告部分*/

/*.ad {
    display: none;
}*/

/*平台特点*/

.feature {
    width: 90%;
    margin: 2rem auto;
    /*去掉间隙*/
    font-size: 0;
}

.feature .item {
    display: inline-block;
    /*css3的计算属性，动态计算的原因是；padding本身默认有1rem的宽度，所以需要减（可以使用box-sizing来实现-1rem）*/
    width: calc(33.33333333333% - 3rem);
    font-size: 1.4rem;
    background-color: #fff;
    box-shadow: 0 0 4px #ccc;
    padding: 1rem;
}

.feature .item + .item {
    /*这种写法直接给出并列相同元素之间的间距*/
    margin-left: 1.5rem;
}

/*标题*/

.feature .item h3 {
    display: inline-block;
    width: 40%;
    margin: 0;
    padding: 0;
    vertical-align: top;
    font-size: 3.3rem;
    text-align: center;
    color: #f90;
}

/*内容*/

.feature .item p {
    display: inline-block;
    width: 55%;
    margin: 0;
    padding: 0;
    color: #999;
}

/*最新公告样式*/

.notice {
    width: 90%;
    margin: 3rem auto;
    font-size: 1.4rem;
    line-height: 3rem;
    background-color: #fff;
    box-shadow: 0 0 4px #ccc;
}

.notice a {
    float: left;
    display: inline-block;
    width: 70%;
    margin-left: 2rem;
    text-decoration: none;
}

.notice a:first-child {
    /*以下三行实现文字不换行，过长显示省略号，隐藏滚动条*/
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

/*通过css的样式的方式来添加内容（before，after）*/

.notice a:first-child:before {
    /*\00a0代表不换行的空格字符*/
    content: '最新更新: \00a0\00a0';
    color: #aaa;
}

.notice a span {
    color: #999;
    font-size: 1.2rem;
    margin-right: 1rem;
}

.notice a.more {
    /*width:auto实现什么效果？*/
    width: auto;
    float: right;
    margin-right: 2rem;
    color: #f90;
}

/*产品列表*/

.product {
    width: 90%;
    margin: 2rem auto;
    font-size: 1.4rem;
    background-color: #f5f9fa;
    border-top: 2px solid #f90;
    box-shadow: 0 0 4px #ccc;
}

.product h2 {
    float: left;
    width: 20%;
    margin-top: 3rem;
    text-align: center;
    font-size: 2.4rem;
    font-weight: normal;
    color: #635c51;
}

.product h2 em {
    display: block;
    margin-top: 1rem;
    font-size: 1.6rem;
}

.product h2 em:first-child {
    margin-top: 4rem;
}

.product .product-content {
    float: right;
    width: 79.5%;
    border-left: 1px solid #eee;
    background-color: #fff;
}

.product .product-content .item {
    width: 100%;
}

.product .product-content .item + .item {
    border-top: 1px solid #eee;
}

.product .product-content .item h3 {
    float: left;
    width: 30%;
    margin: 1.5rem 0;
    font-size: 1.4rem;
    font-weight: normal;
    text-align: center;
}

.product .product-content .item h3 em {
    margin-right: 0.5rem;
    font-size: 3.6rem;
    font-style: normal;
    color: #8b999d;
}

.product .product-content .item h3 i {
    display: block;
    font-size: 1.2rem;
    font-style: normal;
    color: #999;
}

.product .product-content .item .info {
    float: left;
    width: 48%;
    padding: 1rem;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    font-size: 14px;
}

.product .product-content .item .info p {
    float: left;
    display: inline-block;
    text-align: center;
    width: 56%;
}

.product .product-content .item .info p:last-child {
    width: 40%;
}

.product .product-content .item .info p span {
    display: block;
    font-size: 2.4rem;
    color: #f90;
}

.product .product-content .item .info p span i {
    font-size: 1.2rem;
    font-style: normal;
    color: #999;
}

.product .product-content .item .buy {
    float: left;
    padding: 1rem;
    /*计算*/
    width: calc(22% - 4.4rem);
}

/*NB*/

.product .product-content .item .buy a {
    display: block;
    width: 90%;
    margin: 1.5rem auto;
    max-width: 12rem;
    line-height: 4rem;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #f90;
    border-radius: 5px;
}

.product .product-content .item .buy a:hover,
.product .product-content .item .buy a:active {
    /*颜色变淡*/
    background-color: #ffc468;
}

.product .product-content .item .buy a.disabled {
    background-color: #ccc !important;
    cursor: not-allowed;
}

/*底部导航的实现*/

.footer {
    padding: 3rem 0;
    background-color: #fff;
    border-top: 2px solid #eee;
}

.footer-content {
    width: 90%;
    margin: 0 auto;
}

.footer-content .brand {
    float: left;
    display: block;
    /*使用灰色的滤镜添加背景*/
    filter: grayscale(100%);
    /*chrome的兼容写法,autoprefixer*/
    -webkit-filter: grayscale(100%);
    width: 20%;
    height: 35px;
    background: url(../images/logo.jpg) no-repeat left;
    background-size: 150px 35px;
}

.footer-content ul {
    float: left;
    width: 15%;
}

.footer-content ul li {
    font-size: 1.4rem;
    line-height: 2.4rem;
}

.footer-content ul li.title {
    font-size: 1.6rem;
    line-height: 3rem;
}

/*网站底部*/

footer {
    width: 100%;
    padding: 3rem 0 5rem;
    background-color: #ededed;
}

footer ul {
    text-align: center;
}

footer ul li {
    display: inline-block;
}

/*css雪碧图的使用*/

footer ul li .icon {
    display: inline-block;
    /*通过文字的缩进，隐藏掉文字*/
    text-indent: -999rem;
    margin-right: 1.5rem;
    /*css雪碧图来完成图片*/
    background: url(https://i.alipayobjects.com/e/201307/jebmKcbrh.png) no-repeat;
    background-size: 466px 447px;
    overflow: hidden;
}

footer ul li .icon-zfywxk {
    width: 38px;
    height: 27px;
    background-position: -369px -45px;
}

footer ul li .icon-pcirk {
    width: 78px;
    height: 27px;
    background-position: -110px -96px;
}

footer ul li .icon-visayz {
    width: 36px;
    height: 27px;
    background-position: -426px -90px;
}

footer ul li .icon-vsjmfw {
    width: 63px;
    height: 27px;
    margin-right: 13px;
    background-position: -401px -186px;
}

footer ul li .icon-wlgs {
    width: 22px;
    height: 27px;
    background-position: -48px -48px;
}

footer ul li .icon-rzcx {
    width: 75px;
    height: 27px;
    background-position: 0px -320px;
}

footer ul li .icon-gs {
    width: 30px;
    height: 30px;
    margin-right: 0;
    background: url(https://os.alipayobjects.com/rmsportal/lybcjqloSPjMAFg.png) no-repeat;
    background-size: 30px;
}

footer p {
    text-align: center;
    color: #999;
}

/*chart-analysis*/

.chart-analysis {
    display: -webkit-box;
    padding-top: 10px;
}

.chart-analysis-main-left {
    width: 200px;
    background-color: orange;

}

.chart-analysis-main-right {
    width: 200px;
    background-color: red;
}

.chart-analysis-main {
    -webkit-box-flex: 1;
}

#line {
    /*width: 100%;*/
    height: 400px;
    margin-bottom: 10px;
    border: 1px solid #f4f4f4;
    padding: 10px;
    border-radius: 10px;
    text-shadow: 10px 10px #558ABB;
}

#bar {
    /*width: 900px;*/
    height: 400px;
    margin-bottom: 10px;
    border: 1px solid #f4f4f4;
    padding: 10px;
    border-radius: 10px;
    text-shadow: 10px 10px #558ABB;
}

#pie {
    /*width: 900px;*/
    height: 400px;
    margin-bottom: 10px;
    border: 1px solid #f4f4f4;
    padding: 10px;
    border-radius: 10px;
    text-shadow: 10px 10px #558ABB;
}

/*css3h5 */

.css3h5 {
    width: 100%;
    height:100%;
    /*display: -webkit-box;*/

}

.css3h5 > section {
    /*-webkit-box-flex: 1;*/
    float: left;
    width: calc(50% - 40px);
    margin: 20px;
}

.css3h5-rect-wrap {
    position: relative;
    perspective: 1600px;
    border-radius: 10px;
    -webkit-box-shadow: 3px 3px red, -1em 0 0.4em olive;
    -moz-box-shadow: 3px 3px red, -1em 0 0.4em olive;
    box-shadow: 3px 3px red, -1em 0 0.4em olive;
}

.css3h5-container-animate {
    width: 200px;
    height: 200px;
    margin: 0 auto;

    transform-style: preserve-3d;
    animation: rotate-frame 30s linear infinite;
    transform-origin: 50% 50% 50px;
/ / 设置3d空间的原点在平面中心再向Z轴移动200px的位置
}

.css3h5-slide {
    /*width: 400px;*/
    /*height: 400px;*/
    position: absolute;
/ / 定位
}

.css3h5-top {
    width: 100px;
    height: 100px;
    left: 50px;
    top: -50px;
    transform: rotateX(-90deg);
    transform-origin: bottom;
    background: url("../images/top.jpg") center no-repeat;
}

.css3h5-top img {
    width: 100%;
    height: 100%;
}

.css3h5-bottom {
    width: 100px;
    height: 100px;
    left: 50px;
    bottom: -50px;
    transform: rotateX(90deg);
    transform-origin: top;
    background: url("../images/bottom.jpg") center no-repeat;

}

.css3h5-bottom img {
    width: 100%;
    height: 100%;
}

.css3h5-left {
    width: 100px;
    height: 100px;
    left: -50px;
    top: 50px;
    transform: rotateY(90deg);
    transform-origin: right;
    /*background: url("../images/left.jpg") no-repeat;*/

}

.css3h5-left img {
    width: 100%;
    height: 100%;

}

.css3h5-right {
    width: 100px;
    height: 100px;
    left: 150px;
    top: 50px;
    transform: rotateY(-90deg);
    transform-origin: left;
    /*background: url("../images/right.jpg") center no-repeat;*/

}

.css3h5-right img {
    width: 100%;
    height: 100%;
}

.css3h5-front {
    width: 100px;
    height: 100px;
    left: 50px;
    top: 50px;
    transform: translateZ(100px);
    background: url("../images/front.jpg") center no-repeat;

/ / 立方体前面正对着屏幕，所以不用旋转，只需向Z轴前移动距离
}

.css3h5-front img {
    width: 100%;
    height: 100%;
}

.css3h5-back {
    width: 100px;
    height: 100px;
    left: 50px;
    top: 50px;
    transform: translateZ(0);
    background: url("../images/back.jpg") center no-repeat;

/ / 立方体后面正对着屏幕，所以不用旋转，只需向Z轴后移动距离
}

.css3h5-back img {
    width: 100%;
    height: 100%;
}

@keyframes rotate-frame {
    0% {
        transform: rotateX(0deg) rotateY(0deg);
    }
    10% {
        transform: rotateX(0deg) rotateY(180deg);
    }
    20% {
        transform: rotateX(-180deg) rotateY(180deg);
    }
    30% {
        transform: rotateX(-360deg) rotateY(180deg);
    }
    40% {
        transform: rotateX(-360deg) rotateY(360deg);
    }
    50% {
        transform: rotateX(-180deg) rotateY(360deg);
    }
    60% {
        transform: rotateX(90deg) rotateY(180deg);
    }
    70% {
        transform: rotateX(0) rotateY(180deg);
    }
    80% {
        transform: rotateX(90deg) rotateY(90deg);
    }
    90% {
        transform: rotateX(90deg) rotateY(0);
    }
    100% {
        transform: rotateX(0) rotateY(0);
    }
}

.css3h5-rect-wrap .css3h5-container-animate {
    border: 2px solid #77d04b;
}

.css3h5-rect-wrap .css3h5-info {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 20px;
    font-size: 16px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.css3h5-feature2 {
    /*display: table;*/
    /*width: 300px;*/

    width: 600px;
    height: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    margin: 20px auto;

    color: red;
    border-radius: 10px;
    -webkit-box-shadow: 3px 3px red, -1em 0 0.4em olive;
    -moz-box-shadow: 3px 3px red, -1em 0 0.4em olive;
    box-shadow: 3px 3px red, -1em 0 0.4em olive;

    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: center;
    -webkit-box-align: center;

    display: -moz-box;
    -moz-box-orient: horizontal;
    -moz-box-pack: center;
    -moz-box-align: center;

    display: -o-box;
    -o-box-orient: horizontal;
    -o-box-pack: center;
    -o-box-align: center;

    display: -ms-box;
    -ms-box-orient: horizontal;
    -ms-box-pack: center;
    -ms-box-align: center;

    display: box;
    box-orient: horizontal;
    box-pack: center;
    box-align: center;

}

.css3h5-feature2 .css3h5-box-shadow {
    display: table-cell;
    vertical-align: middle;
    /*position: relative;*/
    /*top:50%;*/
    /*transform:translateY(-50%);*/

    height: 250px;
    width: 80%;

    /*文字水平居中*/
    text-align: center;

    border: dashed 2px silver;
    border-radius: 10px 10px 10px;

    color: gray;
}

.css3h5-feature3, .css3h5-feature4, .css3h5-feature5, .css3h5-feature6, .css3h5-feature7, .css3h5-feature8, .css3h5-feature9, .css3h5-feature10, .css3h5-feature11 {
    color: red;
    border-radius: 10px;
    -webkit-box-shadow: 3px 3px red, -1em 0 0.4em olive;
    -moz-box-shadow: 3px 3px red, -1em 0 0.4em olive;
    box-shadow: 3px 3px red, -1em 0 0.4em olive;

    width: 600px;
    height: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    margin: 20px auto;
}