/*
这一行是为了什么？
*/

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background: #e8e8e8;
    height: 100%;
}

a {
    color: #00B7FF;
}

a:link,
a:visited {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-family: "Microsoft YaHei";
}

a:hover,
a:active {
    text-decoration: none;
    color: #ff0;
    font-size: 16px;
    font-family: "Microsoft YaHei";
}

.nav {
    top: 0;
    height: 70px;
    background-color: green;
}

.logo {
    float: left;
}

.modules {
    /*float:left;*/
}

.modules li {
    width: 120px;
    float: left;
    list-style: none;
    text-align: center;
    line-height: 70px;
}

.wrap {
    margin-top: 10px;
    height: 100%;
    margin-bottom: -70px;
}


.header{
    /*先定义宽高*/
    width: 100%;
    height: 620px;
    /*background: url(../images/bann'er2.jpg);*/
    background: #161616 url(../images/banner2.jpg) no-repeat;
    background-position: center 0;
}

.main-left {
    /*background: green;*/
    width: 200px;
    height: 1200px;
    float: left;
}

.main-right {
    height: 1200px;
    width: 150px;
    /*background: red;*/
    float: right;
}

#main {
    width: 900px;
    /*height: 100%;*/
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}

#line {
    width: 900px;
    height: 400px;
    margin-bottom: 10px;
    border: 1px solid #f4f4f4;
    padding: 10px;
    border-radius: 10px;
    text-shadow: 10px 10px #558ABB;
}

#bar {
    width: 900px;
    height: 400px;
    margin-bottom: 10px;
    border: 1px solid #f4f4f4;
    padding: 10px;
    border-radius: 10px;
    text-shadow: 10px 10px #558ABB;
}

#pie {
    width: 900px;
    height: 400px;
    margin-bottom: 10px;
    border: 1px solid #f4f4f4;
    padding: 10px;
    border-radius: 10px;
    text-shadow: 10px 10px #558ABB;
}

.footer {
    clear: both;
    height: 70px;
    margin-top: 10px;
    background-color: gray;
}

.footer h2 {
    line-height: 70px;
    text-align: center;
    font-size: 12px;
}
