extends layout

block content
	div.blog.clearfix
		section.blog-left
			nav.blog-left-nav
				ul
					li
						a(href="#") liebiao1
					li
						a(href="#") liebiao1
					li
						a(href="#") liebiao1
					li
						a(href="#") liebiao1
		section.blog-main
			article.blog-article
				h2.blog-article-title
				p hello, world.
		aside.blog-right