extends layout

block content
	div.chart-analysis
		div.chart-analysis-main-left
		div.chart-analysis-main
			section#line
			section#pie
			section#bar
		div.chart-analysis-main-right
	script(src="/javascripts/jquery-3.1.0.js")
	script(src="/javascripts/echarts.js")
	script(src="/javascripts/chart-index.js")
