extends layout

block content
	div.css3h5
		section
			div.css3h5-rect-wrap
				div.css3h5-container-animate
					div.css3h5-slide.css3h5-top
						img(src="../images/top.jpg")
					div.css3h5-slide.css3h5-bottom
						img(src="../images/bottom.jpg")
					div.css3h5-slide.css3h5-left
						img(src="../images/left.jpg")
					div.css3h5-slide.css3h5-right
						img(src="../images/right.jpg")
					div.css3h5-slide.css3h5-front
						img(src="../images/front.jpg")
					div.css3h5-slide.css3h5-back
						img(src="../images/back.jpg")
				article
					div.css3h5-info
						h4 Transformer
						p 变形
		section
			div.css3h5-feature2
				div.css3h5-box-shadow
					h3 CSS实现div中的内容垂直居中的五种方法
					ul
						li 一、行高（line-height）法
						li 二、内边距（padding）法
						li 三、模拟表格法
						li 四、CSS3的transform来实现
						li 五：css3的box方法实现水平垂直居中
		section
			div.css3h5-feature3
				h3 3
		section
			div.css3h5-feature4
		section
			div.css3h5-feature5
		section
			div.css3h5-feature6
		section
			div.css3h5-feature7
		section
			div.css3h5-feature8
		section
			div.css3h5-feature9
		section
			div.css3h5-feature10
		section
			div.css3h5-feature11

