extends layout

block content
	div.css3h5
		section
			div.css3h5-rect-wrap
				div.css3h5-container-animate
					div.css3h5-slide.css3h5-top
						img(src="../images/top.jpg")
					div.css3h5-slide.css3h5-bottom
						img(src="../images/bottom.jpg")
					div.css3h5-slide.css3h5-left
						img(src="../images/left.jpg")
					div.css3h5-slide.css3h5-right
						img(src="../images/right.jpg")
					div.css3h5-slide.css3h5-front
						img(src="../images/front.jpg")
					div.css3h5-slide.css3h5-back
						img(src="../images/back.jpg")
				article
					div.css3h5-info
						h4 Transformer
						p 变形
		section
			div.css3h5-feature2
