extends layout

block content
	section.header
	section.ad.clearfix
		div.owl-carousel.owl-theme
			div.item
				picture
					source(srcset="../images/ad001-l.jpg" media="(min-width:50em)")
					source(srcset="../images/ad001-m.png" media="(min-width:30em)")
					img(src="../images/ad001.png")
			div.item
				picture
					source(srcset="../images/ad002-l.jpg" media="(min-width:50em)")
					source(srcset="../images/ad002-m.png" media="(min-width:30em)")
					img(src="../images/ad002.png")
			div.item
				picture
					source(srcset="../images/ad003-l.jpg" media="(min-width:50em)")
					source(srcset="../images/ad003-m.png" media="(min-width:30em)")
					img(src="../images/ad003.png")
	section.feature
		div.item
			h3 n-novel
			p	命令行工具
				|抓取心爱小说
				|Geek范儿
		div.item
			h3	InYours
			p	Electron 桌面程序
				|整合你的所有消失时间
				|比你更懂你
		div.item
			h3	movie
			p	Express小应用
				|入门玩具
				|Have Fun
	section.notice.clearfix
		a(href="#")
			span 2016-08-12
			2016-08-12   完成了首页的搭建和导航的实现
		a.more(href="#") 更多待更新功能
	section.product.clearfix
		h2 项目列表
			em 不念过往
			em 不畏将来
		div.product-content
			div.item.clearfix
				h3
					em 准备中
				div.info
					p 实现功能数:
						span 1
							i 项
					p 代码量:
						span 1880
							i 行
				div.buy
					a(href="#") 查看设计文档
			div.item.clearfix
				h3
					em 已开始
				div.info
					p 实现功能数:
						span 2
							i 项
					p 代码量:
						span 2000
							i 行
				div.buy
					a(href="#") 查看设计文档
			div.item.clearfix
				h3
					em 进行中
				div.info
					p 实现功能数:
						span 1
							i 项
					p 代码量:
						span 4000
							i 行
				div.buy
					a(href="#") 查看设计文档
			div.item.clearfix
				h3
					em 完成
				div.info
					p 实现功能数:
						span 4
							i 项
					p 代码量:
						span 10099
							i 行
				div.buy
					a(href="#") 查看设计文档
			div.item.clearfix
				h3
					em 已测试
				div.info
					p 实现功能数:
						span 5
							i 项
					p 代码量:
						span 2330
							i 行
				div.buy
					a(href="#") 查看设计文档
	section.footer
		div.footer-content.clearfix
			p.brand
			ul
				li.title 关于我
				li
					a(href="#") Github
			ul
				li.title 维护项目
				li
					a(href="#") n-novel
			ul
				li.title 正在学习
				li
					a(href="#") Node.js
			ul
				li.title 意见反馈
				li
					a(href="#") 意见反馈
	script(src="/javascripts/jquery-3.1.0.js")
	script(src="https://code.jquery.com/jquery-1.12.4.js" integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU=" crossorigin="anonymous")
	script(src="/vendor/owlcarousel/owl.carousel.min.js")
	script(src="/javascripts/index.js")


