extends layout

block content
	section.header
		div.header-wraper
			div.title-wrap
				p 快捷找房，不再迟疑
			div.house-wrap
			div.search-wrap
	section
	section
	section
	section
	script(src="/javascripts/jquery-3.1.0.js")
	script(src="/javascripts/index.js")


